<html>
    <head>
        <title>Login Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
            <form class="container  d-flex flex-column align-items-center form-row" action="" method="POST"> 
                {% csrf_token %}
            <h1 class="h4 mb-5 mt-5">Login Page</h1>
            <div class="col-sm-3">
                <p class="h6">UserName:</p>
                <input class="form-control" type="text" placeholder="steve" name="username" required>
            </div>

            <div class="col-sm-3">
                <br>
                <p class="h6">Password:</p>
                <input class="form-control" type="password" name="password" required>
            </div>
           
            <button class="btn btn-primary btn-sm mt-5" type="submit">submit</button>

            
            </form>
    </body>
</html>